<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dolabor20200513.dao.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.example.dolabor20200513.entity.Menu">
        <id column="menu_id" property="menuId" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="parent_ids" property="parentIds" jdbcType="VARCHAR"/>
        <result column="tree_sort" property="treeSort" jdbcType="INTEGER"/>
        <result column="tree_sorts" property="treeSorts" jdbcType="VARCHAR"/>
        <result column="tree_leaf" property="treeLeaf" jdbcType="CHAR"/>
        <result column="tree_level" property="treeLevel" jdbcType="INTEGER"/>
        <result column="tree_names" property="treeNames" jdbcType="VARCHAR"/>
        <result column="menu_name" property="menuName" jdbcType="VARCHAR"/>
        <result column="menu_type" property="menuType" jdbcType="INTEGER"/>
        <result column="menu_href" property="menuHref" jdbcType="VARCHAR"/>
        <result column="menu_component" property="menuComponent" jdbcType="VARCHAR"/>
        <result column="menu_icon" property="menuIcon" jdbcType="VARCHAR"/>
        <result column="show_type" property="showType" jdbcType="CHAR"/>
        <result column="permission" property="permission" jdbcType="VARCHAR"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="flag" property="flag" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    menu_id, parent_id, parent_ids, tree_sort, tree_sorts, tree_leaf, tree_level, tree_names,
    menu_name, menu_type, menu_href, menu_component, menu_icon, show_type, permission,
    remarks, create_by, create_time, update_by, update_time, flag
    </sql>

    <!-- 查找角色对应的菜单信息 -->
    <select id="queryById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        t_menu
        WHERE
        menu_id IN (SELECT menu_id FROM t_role_menu WHERE role_id = #{roleId})
        AND
        flag = 0
        ORDER BY
        tree_sort
    </select>

    <!--查找所有子节点-->
    <select id="findByParentIdsLike" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        t_menu
        WHERE
        parent_ids LIKE CONCAT('%', #{parentIdsLike}, '%')
        ORDER BY
        tree_sort
    </select>

    <!--查询某个菜单是否有子节点-->
    <select id="getChildCountByMenuId" resultType="java.lang.Integer">
    SELECT
        COUNT(menu_id)
    FROM
        t_menu
    WHERE
        parent_ids LIKE CONCAT('%', #{parentIdsLike}, '%')
    </select>

    <!-- 查找角色对应的菜单id -->
    <select id="findMenuIdsByRoleId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select
            menu_id
        from
            t_role_menu
        where
            role_id = #{roleId}
    </select>

    <!-- 批量插入角色菜单信息 -->
    <insert id="batchInsert">
        insert into
            t_role_menu(role_id, menu_id)
        values
            <foreach collection="list" item="item" separator=",">
                (#{item.roleId}, #{item.menuId})
            </foreach>
    </insert>
</mapper>