/* --- 用样式封装 --- */
/* 1、颜色-> 背景 边框 文本 */
/* 2、布局 */
/* 3、边框 */
/* 4、内边距 */
/* 5、外边距 */
/* 6、字体大小 */
/* 7、行高 */
/* 8、flex布局 */


/* 防止图片闪一下 */
image{will-change: transfrom;}
/* scroll-view */
.scroll-rowf{ width: 100%; white-space: nowrap; }
.scroll-row-item {display: inline-block;}

body{
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--danger: #dc3545;
	--warning: #ffc107;
	--info: #17a2b8;
	--light: #f8f9fa;
	--dark: #343a40;
	--muted: #6c757d;
	--white: #fff;
	--bordercolor: #dee2e6;
	--lightmuted: #B2B2B2;
}

/* 阴影 */
.shadow-sm{
	box-shadow: 0 2upx 4upx rgba(114, 130, 138, 0.2)!important;
}
.shadow{
	box-shadow: 0 8upx 16upx rgba( 114, 130, 138, 0.2)!important;
}
.shadow-lg{
	box-shadow: 0 16upx 48upx rgba( 114, 130, 138, 0.2)!important;
}
/* 定位 */
.position-absolute{ position: absolute;} 
.position-fixed{ position: fixed;}
.position-relative{ position: relative;}
.left-0{ left: 0;}
.top-0{ top: 0;}
.bottom-0{ bottom: 0;}
.right-0{ right: 0;}
/* 宽高 */
.w-100{ width : 100%; }
.w-50 { width : 50% ;}
.h-100{ height : 1250upx ;}
.h-50 { height : 625upx ;}
/* 字体 */
.font    { font-size : 25upx;}
.font-sm { font-size : 22upx;}
.font-md { font-size : 30upx;}
.font-lg { font-size : 40upx;}
.font-big{ font-size : 60upx;}
/* 行高 */
.line-h0{ line-height  : 0!important;}
.line-h  { line-height  : 1!important;}
.line-h-sm{line-height: 1.2!important;}
.line-h-md{line-height : 1.5!important;}
.line-h-lg{line-height : 2!important;}
.line-h-big{line-height : 3!important;}

.line-through{text-decoration: line-through;}

.text-centert{text-align : center;}
.text-left {text-align : left;}
.text-right{text-align : right;}

.row{box-sizing : border-box!important; display : flex!important; flex-direction : row; flex-wrap : wrap;}
[class*= 'col-'],[class*='span-'], [class*='span24-'] {min-height : 1px; box-sizing : border-box!important;}
/* 栅栏一 */
.col-1{ width : 62.5upx; }
.col-2{ width : 125upx; }
.col-3{ width : 187.5upx; }
.col-4{ width : 250upx; }
.col-5{ width : 312.5upx; }
.col-6{ width : 375upx; }
.col-7{ width : 437.5upx; }
.col-8{ width : 500upx; }
.col-9{ width : 562.5upx; }
.col-10{ width : 625upx; }
.col-11{ width : 687.5upx; }
.col-12{ width : 750upx; }
/* 栅栏二 */
.span-1{ width : 5%; }
.span-2{ width : 10%; }
.span-3{ width : 15%; }
.span-4{ width : 20%; }
.span-5{ width : 25%; }
.span-6{ width : 30%; }
.span-7{ width : 35%; }
.span-8{ width : 40%; }
.span-9{ width : 45%; }
.span-10{ width : 50%; }
.span-11{ width : 55%; }
.span-12{ width : 60%; }
.span-13{ width : 65%; }
.span-14{ width : 70%; }
.span-15{ width : 75%; }
.span-16{ width : 80%; }
.span-17{ width : 85%; }
.span-18{ width : 90%; }
.span-19{ width : 95%; }
.span-20{ width : 100%; }
/* 栅栏三 */
.span-24-1{ width: 1.17%; }
.span-24-2{ width: 8.33%; }
.span-24-3{ width: 12.5%; }
.span-24-4{ width: 16.67%; }
.span-24-5{ width: 20.83%; }
.span-24-6{ width: 25%; }
.span-24-7{ width: 29.17%; }
.span-24-8{ width: 33.33%; }
.span-24-9{ width: 37.5%; }
.span-24-10{ width: 41.67%; }
.span-24-11{ width: 45.83%; }
.span-24-12{ width: 50%; }
.span-24-13{ width: 54.17%; }
.span-24-14{ width: 58.33%; }
.span-24-15{ width: 62.5%; }
.span-24-16{ width: 66.67%; }
.span-24-17{ width: 70.83%; }
.span-24-18{ width: 75%; }
.span-24-19{ width: 79.17%; }
.span-24-20{ width: 83.33%; }
.span-24-21{ width: 87.5%; }
.span-24-22{ width: 91.67%; }
.span-24-23{ width: 95.83%; }
.span-24-24{ width: 100%; }
/* flex */
.d-flex{display: flex;}
.d-block{display: block;}
.d-inline-block{display: inline-block;}

.flex-1{ flex : 1; }
.flex-column{ flex-direction : column; }
.lex-row{ flex-direction : row; }
.flex-wrap{ flex-wrap : wrap; }
.flex-nowrap{ flex-wrap : nowrap; }
.flex-shrink{ flex-shrink : 0; }
.j-start { justify-content : flex-start; }
.j-center{ justify-content : center; }
.j-end   { justify-content : flex-end; }
.j-sb    { justify-content : space-between; }
.a-center{ align-items : center; }
.a-start { align-items : flex-start; }
.a-end   { align-items : flex-end;  }
.a-stretch{ align-items : stretch; }
.a-self-start{ align-self : flex-start; }
.a-self-auto { align-self : auto; }
.a-self-end  { align-self : flex-end; }
.a-self-stretch{ align-self : stretch; }
.a-self-baseline{ align-self : baseline; }
/* bilibili 第7集一分四十一秒 */